<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Sordid - Fate Character Builder</title>
    <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" id="logoLink" class="navbar-brand" title="Sordid - Fate Character Builder">
                    <div class="mainLogoText">Sordid</div>
                    <div class="subLogoText">Fate Character Builder</div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="mainNav" class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Characters", "Index", "Character")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="mainContentArea" class="container body-content">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
            <div class="col-md-3">
                <div id="alertContainer"></div>
            </div>
        </div>

        @* TODO: Do something with this footer
           http://stackoverflow.com/questions/10099422/flushing-footer-to-bottom-of-the-page-twitter-bootstrap
           http://ryanfait.com/html5-sticky-footer/
         <hr />
         <footer>
             <p>&copy; @DateTime.Now.Year - Justin Kohlhepp</p>
         </footer>*@

        @*<div class="row">
            <div class="col-lg-12 visible-lg">
                <div class="alert alert-danger">Large</div>
            </div>
            <div class="col-md-12 visible-md">
                <div class="alert alert-danger">Medium</div>
            </div>
            <div class="col-sm-12 visible-sm">
                <div class="alert alert-danger">Small</div>
            </div>
            <div class="col-xs-12 visible-xs">
                <div class="alert alert-danger">XSmall</div>
            </div>
        </div>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/json2")
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
