@model Sordid.Web.Models.ManageCharacterViewModel
@{
    ViewBag.Title = Model.Character.Name;
}

@section Styles
{
    @Styles.Render("~/Content/css/CharacterManage")
}

<div class="row" style="padding-bottom: 2px;">
    <div class="col-md-9 col-md-offset-1 characterName" data-bind="text: Character.Name">
    </div>
    @* TODO: Can't get this stupid button to align bottom *@
    <div class="col-md-1" style="text-align: right; padding: 0;">
        <a id="saveButton" class="btn btn-success btn-sm" title="Save Character">
            <span id="saveIcon" class="glyphicon glyphicon-floppy-disk"></span>
            <span id="pendingSaveIcon" class="glyphicon glyphicon-transfer hidden"></span>
        </a>
    </div>
</div>

<div class="row">
    <div id="character-sections" class="col-md-2 col-md-offset-1 btn-group-vertical">
        <a type="button" href="#section-basics" class="btn btn-primary active">Basics</a>
        <a type="button" href="#section-aspects" class="btn btn-primary">Aspects</a>
        <a type="button" href="#section-skills" class="btn btn-primary">Skills</a>
        <a type="button" href="#section-powers" class="btn btn-primary">Powers / Stunts</a>
    </div>

    <div id="section-basics" class="char-section col-md-8 panel panel-default">
        @Html.Partial("_ManageBasics")
    </div>

    <div id="section-skills" class="char-section col-md-8 panel panel-default hidden">
        @Html.Partial("_ManageSkills")
    </div>

    <div id="section-aspects" class="char-section col-md-8 panel panel-default hidden">
        @Html.Partial("_ManageAspects")
    </div>

    <div id="section-powers" class="char-section col-md-8 panel panel-default hidden">
        @Html.Partial("_ManagePowers")
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery.ui")

    <script src="@Url.Content("~/Scripts/Site/characterManage.js")"></script>
    <script>
        $(document).ready(function() {
            // Initialize Knockout
            var viewModelRaw = @Html.Raw( Json.Encode(Model) );
            sordid.characterManage.initKnockout(viewModelRaw);
        });
    </script>

    @* Must go after KO is initialized! *@
    <script src="@Url.Content("~/Scripts/Site/characterSkills.js")"></script>
    <script src="@Url.Content("~/Scripts/Site/characterAspects.js")"></script>
}

