@model Sordid.Web.Models.ManageCharacterViewModel
@{
    ViewBag.Title = Model.Character.Name;
}

@section Styles
{
    @Styles.Render("~/Content/css/bootstrap3-wysihtml5")
    @Styles.Render("~/Content/css/character")
}

<div id="characterManageHeader" class="row">
    <div class="col-sm-10">
        <div class="row">
            <div id="characterLabelContainer" class="col-sm-6">
                <div id="characterLabelName" class="headerLabel" data-bind="text: Character.Name">...</div>
                <div id="characterLabelHighConcept" data-bind="text: Character.HighConcept">...</div>
            </div>
            <div id="characterManageButtonContainer" class="col-sm-6">
                <a id="deleteButton" class="btn btn-danger btn-sm" title="Delete Character" data-toggle="modal" data-target="#deleteModal">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a id="printButton" class="btn btn-success btn-sm" title="Print Character">
                    <span class="glyphicon glyphicon-print"></span>
                </a>
                <a id="saveButton" class="btn btn-success btn-sm" title="Save Character">
                    <span id="saveIcon" class="glyphicon glyphicon-floppy-disk"></span>
                    <span id="pendingSaveIcon" class="glyphicon glyphicon-transfer hidden"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="character-sections" class="col-sm-2 btn-group-vertical">
        <a type="button" href="#section-basics" class="btn btn-primary active">Basics</a>
        <a type="button" href="#section-aspects" class="btn btn-primary">Aspects</a>
        <a type="button" href="#section-skills" class="btn btn-primary">Skills</a>
        <a type="button" href="#section-powers" class="btn btn-primary">Powers / Stunts</a>
        <a type="button" href="#section-notes" class="btn btn-primary">Notes</a>
    </div>

    <div id="sections-container" class="col-sm-8">
        <div id="section-basics" class="char-section panel panel-default">
            @Html.Partial("_ManageBasics")
        </div>

        <div id="section-skills" class="char-section panel panel-default hidden">
            @Html.Partial("_ManageSkills")
        </div>

        <div id="section-aspects" class="char-section panel panel-default hidden">
            @Html.Partial("_ManageAspects")
        </div>

        <div id="section-powers" class="char-section panel panel-default hidden">
            @Html.Partial("_ManagePowers")
        </div>

        <div id="section-notes" class="char-section panel panel-default hidden">
            @Html.Partial("_ManageNotes")
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <form method="post" id="deleteForm" action="@Url.Action("Delete","Character",new {id = Model.Character.Id})"></form>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><strong>This is a permanent unrecoverable action!</strong></div>
                If you click Delete below, this character will be permanently deleted.  We will not be able
                to recover it for you no matter how much you whine and cry.  If this warning has scared you,
                you should click Cancel and run away.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="printModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Print with unsaved changes?</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning"><strong>You have unsaved changes.</strong></div>
                The print window will show only what has been saved.  You currently have unsaved changes
                on your character?  Do you want to continue printing?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning" id="confirmPrintButton">Print Anyway</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery.ui")
    @Scripts.Render("~/bundles/bootstrap3-wysihtml5")

    @* TODO: Switch to bundle *@
    <script src="@Url.Content("~/Scripts/site/characterManage.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterSkills.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterAspects.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterPowers.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterNotes.js")"></script>

    <script>
        require(
            ['jquery',
             'sordid-characterManage',
             'sordid-characterSkills',
             'sordid-characterAspects',
             'sordid-characterPowers',
             'sordid-characterNotes'],
            function($,charMan,charSkills,charAspects) {
                $(document).ready(function() {
                    // Initialize Knockout
                    var viewModelRaw = @Html.Raw( Json.Encode(Model) );
                    charMan.initKnockout(viewModelRaw);
                    charSkills.init();
                });
            });
    </script>
}

