@model Sordid.Web.Models.ManageCharacterViewModel
@{
    ViewBag.Title = Model.Character.Name;
}

@section Styles
{
    @Styles.Render("~/Content/css/bootstrap3-wysihtml5")
    @Styles.Render("~/Content/css/character")
}

<div id="characterManageHeader" class="row">
    <div class="col-md-10">
        <div class="row">
            <div id="characterLabelContainer" class="col-md-11">
                <div id="characterLabelName" class="headerLabel" data-bind="text: Character.Name">...</div>
                <div id="characterLabelHighConcept" data-bind="text: Character.HighConcept">...</div>
            </div>
            <div id="saveButtonContainer" class="col-md-1">
                <a id="saveButton" class="btn btn-success btn-sm" title="Save Character">
                    <span id="saveIcon" class="glyphicon glyphicon-floppy-disk"></span>
                    <span id="pendingSaveIcon" class="glyphicon glyphicon-transfer hidden"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="character-sections" class="col-md-2 btn-group-vertical">
        <a type="button" href="#section-basics" class="btn btn-primary active">Basics</a>
        <a type="button" href="#section-aspects" class="btn btn-primary">Aspects</a>
        <a type="button" href="#section-skills" class="btn btn-primary">Skills</a>
        <a type="button" href="#section-powers" class="btn btn-primary">Powers / Stunts</a>
        <a type="button" href="#section-notes" class="btn btn-primary">Notes</a>
    </div>

    <div id="sections-container" class="col-md-8">
        <div id="section-basics" class="char-section panel panel-default">
            @Html.Partial("_ManageBasics")
        </div>

        <div id="section-skills" class="char-section panel panel-default hidden">
            @Html.Partial("_ManageSkills")
        </div>

        <div id="section-aspects" class="char-section panel panel-default hidden">
            @Html.Partial("_ManageAspects")
        </div>

        <div id="section-powers" class="char-section panel panel-default hidden">
            @Html.Partial("_ManagePowers")
        </div>

        <div id="section-notes" class="char-section panel panel-default hidden">
            @Html.Partial("_ManageNotes")
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery.ui")
    @Scripts.Render("~/bundles/bootstrap3-wysihtml5")

    @* TODO: Switch to bundle *@
    <script src="@Url.Content("~/Scripts/site/characterManage.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterSkills.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterAspects.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterPowers.js")"></script>
    <script src="@Url.Content("~/Scripts/site/characterNotes.js")"></script>

    <script>
        require(
            ['jquery',
             'sordid-characterManage',
             'sordid-characterSkills',
             'sordid-characterAspects',
             'sordid-characterPowers',
             'sordid-characterNotes'],
            function($,charMan,charSkills,charAspects) {
                $(document).ready(function() {
                    // Initialize Knockout
                    var viewModelRaw = @Html.Raw( Json.Encode(Model) );
                    charMan.initKnockout(viewModelRaw);
                    charSkills.init();
                });
            });
    </script>
}

